/* Estilos para o Formulário */
:root {
  --color-primary: #495adf; /* Cor principal */
  --color-background: #202020; /* Cor de fundo */
  --color-text: #fafafa; /* Cor do texto */
  --color-border: #4a4a4a; /* Cor da borda */
}

/* Estilos para o Widget */
.widget5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.widget5 .form-container {
  width: 100%; /* Para ocupar toda a largura do widget */
  max-width: 600px; /* Limitando a largura máxima do formulário */
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.6s ease-out both; /* Animação de entrada */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.widget5 .form-container h1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-text);
  animation: fadeIn 0.8s ease-out both; /* Animação de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.widget5 .form-group {
  margin-bottom: 20px;
  opacity: 0; /* Inicia com opacidade 0 para animação */
  animation: fadeIn 0.8s ease-out forwards; /* Animação de entrada */
}

.widget5 .form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--color-text);
}

.widget5 .form-group input[type="text"],
.widget5 .form-group input[type="email"],
.widget5 .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: border-color 0.3s ease;
}

.widget5 .form-group input[type="text"]:focus,
.widget5 .form-group input[type="email"]:focus,
.widget5 .form-group textarea:focus {
  border-color: var(--color-primary);
  outline: none;
}

.widget5 .form-group textarea {
  resize: vertical;
  min-height: 150px;
}

.widget5 .submit-btn {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0; /* Inicia com opacidade 0 para animação */
  animation: fadeIn 1s ease-out forwards 0.8s; /* Animação de entrada após 0.8s */
}

.widget5 .submit-btn:hover {
  background-color: #2d7b2d;
}

.widget5 .submit-btn:focus {
  outline: none;
}
.info-icon {
    width: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.info-icon img {
  width: 100%; 
  animation: rotate 5s linear infinite; 
  float: left; 
  margin-right: 20px; 
}

