/* Estilos para o Formulário */
:root {
  --primary-color: #131110;
  --secondary-color: #f4f4f4;
  --accent-color: #dc0000;
  --highlight-color: #999999;
  --background-color: #0a0a0a;
  --text-color: #ffffff;
  --font-primary: 'Satoshi', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  --transition-smooth: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Estilos para o Widget */
.widget5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.widget5 .form-container {
  width: 100%;
  max-width: 600px;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.6s ease-out both;
  font-family: var(--font-primary);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.widget5 .form-container h1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: var(--font-secondary);
  animation: fadeIn 0.8s ease-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.widget5 .form-group {
  margin-bottom: 20px;
  opacity: 0; /* Inicia com opacidade 0 para animação */
  animation: fadeIn 0.8s ease-out forwards; /* Animação de entrada */
}

.widget5 .form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.widget5 .form-group input[type="text"],
.widget5 .form-group input[type="email"],
.widget5 .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  transition: border-color 0.3s ease;
}

.widget5 .form-group input[type="text"]:focus,
.widget5 .form-group input[type="email"]:focus,
.widget5 .form-group textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.widget5 .form-group textarea {
  resize: vertical;
  min-height: 150px;
}

.widget5 .submit-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  font-family: var(--font-primary);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards 0.8s;
}

.widget5 .submit-btn:hover {
  background-color: #b23012;
}

.widget5 .submit-btn:focus {
  outline: none;
}

.info-icon {
    width: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.info-icon img {
  width: 100%; 
  animation: rotate 5s linear infinite; 
  float: left; 
  margin-right: 20px; 
}

