/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Root Variables */
:root {
    --color-green: #dc0000;
    --color-black: #1e1e1e;
    --color-white: #fafafa;
    --color-border: #1e1e1e; /* Cor da borda */
}

/* Estilos básicos do body */
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/imagens fundos/bg1.jpg');
    background-color: #000000; /* Cor de fundo alternativa */
    background-size: cover; /* Cobrir todo o fundo */
    background-repeat: no-repeat; /* Não repetir a imagem */
    width: 100%;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    position: relative; /* Posição relativa para o conteúdo */
}

/* Pseudo-elemento para escurecer a imagem de fundo */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: -50; /* Colocar acima da imagem de fundo */
}

/* Reset de estilos para links */
a {
    text-decoration: none;
    z-index: 2; /* Garantir que os links estejam acima do pseudo-elemento */
    position: relative; /* Posição relativa para o z-index funcionar */
}
/* Loading Screen */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Cor de fundo com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Garante que está acima de todos os outros elementos */
    opacity: 0; /* Começa invisível */
    animation: fadeInUp 0.6s ease-out forwards; /* Animação de fade-in e slide up */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#loading-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-white);
}

#loading-bar img {
    width: 50px;
    height: 50px;
    fill: white; /* Cor do ícone */
}

#loading-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-white);
}



#particles-js {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* Coloca atrás de todo o conteúdo */
    }
/* Container principal */
.container {
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    background-color: #0000009a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: relative; /* Adiciona posição relativa para poder usar z-index */
    z-index: 1; /* Coloca o container principal acima do canvas */
}

.content {
    min-width: 320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Widget 1 */
.widget1 {
    width: 100%;
    height: 16%;
    background-color: var(--color-black);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.widget1 img {
    width: 100%;
    border-radius: 8px;
}

.info-user {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 0.6rem;
}

.redondo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden; /* Garante que a imagem não transborde */
}

.name-user h1 {
    font-size: 1.2rem;
    color: var(--color-white);
    padding-bottom: 0.2rem;
    font-weight: bold;
}

.name-user span {
    color: #fafafab4;
    font-size: 0.8rem;
}

.info-icon {
    width: 35px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.info-icon img {
    width: 100%;
    animation: rotate 5s linear infinite;
}

/* Widget 2 */
.widget2 {
    width: 100%;
    height: 16%;
    background-color: var(--color-black);
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hard-skills {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.4rem;
}

.destaque {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

.skill-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.icon {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-right: 5px; /* Espaço entre os ícones */
    
}

.icon:last-child {
    
    margin-right: 0; /* Remove o espaço do último ícone */
}

.icon:hover {
    filter: none;
    transform: scale(1.1);
}

.fab-html:hover {
    filter: none;
    color: #e34f26;
}

.fab-css:hover {
    filter: none;
    color: #1572b6;
}

.fab-js:hover {
    filter: none;
    color: #f7df1e;
}

.fab-react:hover {
    filter: none;
    color: #61dafb;
}

.fab-bootstrap:hover {
    filter: none;
    color: #7952b3;
}

.fab-angular:hover {
    filter: none;
    color: #dd0031;
}

.fab-node:hover {
    filter: none;
    color: #339933;
}

.fab-eslint:hover {
    filter: none;
    color: #4b32c3;
}

.fab-vitejs:hover {
    filter: none;
    color: #646cff;
}

.fab-github:hover {
    filter: none;
    color: #e5dfdf;
}

/* Widget 3 */
.widget.redes-sociais {
    height: 50%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space;
    gap: 3rem;
    background-color: var(--color-black);
    padding: 1rem;
}

.box-social {
  width: 45px; /* Tamanho do quadradinho */
  height: 45px; /* Tamanho do quadradinho */
  border-radius: 10px; /* Borda arredondada */
  background-color: #000000; /* Fundo escuro para contraste */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-social i {
  color: var(--color-white); /* Cor dos ícones */
  font-size: 2.5rem; /* Tamanho dos ícones */
  transition: color 0.3s ease; /* Transição suave da cor do ícone */
}

.box-social:hover i {
  color: var(--color-primary); /* Cor dos ícones ao passar o mouse */
}

.redes-sociais .tiktok:hover i {
    color: #000;
    transition: color 0.3s;
}

.redes-sociais .instagram:hover i {
    color: #E1306C;
    transition: color 0.3s;
}

.redes-sociais .github:hover i {
    color: #000;
    transition: color 0.3s;
}

.redes-sociais .linkedin:hover i {
    color: #0077B5;
    transition: color 0.3s;
}

.redes-sociais .discord:hover i {
    color: #5400c9;
    transition: color 0.3s;
}



/* Widget 4 */
.widget4 {
    width: 100%;
    height: 16%;
    background-color: var(--color-green);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    padding: 1rem;
}

.meu-site {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

.meu-site img {
    width: 50px;
    height: 50px;
}

.meu-site h1 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
}

/* Widget 5 */
.widget5 {
    width: 100%;
    height: 16%;
    background-color: var(--color-black);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    padding: 1rem;
}

.freelancer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

.freelancer img {
    width: 50px;
    height: 50px;
}

.freelancer h1 {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-white);
}

/* Widget 6 */
.widget6 {
    width: 100%;
    height: 32%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.widget6 span {
    color: #fafafab4;
    font-size: 1rem;
    padding-top: 1rem;
}


